
WebApp/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Sistema.Academia.Modelos.dll
WebApp/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Sistema.Academia.Modelos.dll
WebApp/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Sistema.Academia.Modelos.pdb
WebApp/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Sistema.Academia.Modelos.dll
/WebApp/bin/Debug
/Sistema.Academia.Modelos/obj/Debug
/Sistema.Academia.Modelos/bin/Debug
/Sistema.Academia.Modelos/bin/Debug
Sistema.Academia.Modelos/bin/Debug/net8.0/Sistema.Academia.Modelos.dll
